#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #3f3f3f;
    align-items: center;
}

.icon-colored {
    color: #a1a1a1;
}

.main-heading {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #252525;
}

.sub-heading {
    color: #151515;
    font-size: 20px;
    display: block;
}

.sub-heading:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
}

.job-title {
    color: #a1a1a1;
    font-size: 15px;
    font-family: 'Caveat', cursive;
    margin-top: 5px;
    display: block;
}

.job-title:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
}

.skill-block:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
}

a {
    color: #72BDFF;
    text-decoration: none;
}

a:visited {
    color: #9CBDFF;
}

#tsparticles {
    height: 100%;
}

.particles-background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.main-header, .main-content {
    display: flex;
    width: 95%;
}

.main-header {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    margin-top: 40px;
    color: #252525;
}

.main-content {
    margin-top: 20px;
}

.left-side, .right-side {
    flex-grow: 1;
    margin: 0 10px 0 0;
    z-index: 10;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 10px;
}

.experience-block, .last-experience-block {
    padding: 10px;
}

.last-experience-block {
    margin-bottom: 20px;
}

.skill-blocks-container {
    display: flex;
    flex-direction: column;
}

.skill-row {
    display: flex;
    justify-content: space-around;
}

.developer-icons > .skill-row {
    margin-top: 20px;
}

.row {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.experience-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-medium {
    font-size: 60px;
}

